{% extends 'base.html' %}
{% load static %}


{% block title %}Email Verified{% endblock %}

{% block content %}
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h4 class="card-title text-center">Hurray!!! Email Verified</h4>
                <div class="card-text text-center">
                    Go To Home Page
                </div>
                <a href="{% url 'core:home' %}" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>
{% endblock %}