{% extends 'base.html' %}
{% load static %}


{% block title %}Check Your Mail{% endblock %}

{% block content %}
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h4 class="card-title text-center">Link Sent To Your Registered Email</h4>
                <div class="card-text text-center">
                    Check You Email. If the email is not received please check your spam.
                </div>
            </div>
        </div>
    </div>
{% endblock %}