{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center" id="center">
  <div class="row mt-lg-5 mt-md-5">
    <div class="col col-sm-12 col-md-12">
      <h2>Reset Password Form</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" id="id_email" name="email" placeholder="Type Your Registered Email">
        </div>
        <button type="submit" class="btn btn-primary btn-block">submit</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}
